.show {
    opacity: 1;
    transform: translateY(0%);
    transition: all 2s;
}

.hide {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 2s;
}

a {
    color: blue !important;
    cursor: pointer;
}

/* @keyframes onShow {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes onHide {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
} */